body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #494E50;
}


h4, h3, h2 {
    color: #3282b8;
}

#biography {
    color: black;
}

.header-container {
    background-color: black;
    background-size: contain;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-title {
    color: white;
    text-shadow: 2px 0px 50px #2dabf9;
    transition: transform .2s;
}

#header-title:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.trending-title {
    text-align: center;
}

.trending-tracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trending-track-divs > img {
    transition: transform .2s;
}

.trending-track-divs > img:hover {
    transform: scale(1.5);
} 

.trending-track-divs > a > img {
    transition: transform .2s;
}

.trending-track-divs > a > img:hover {
    transform: scale(1.5);
} 

.nav-bar {
    text-align: center;
    background-color: black;
    padding: 15px;
}

.search-container {
    padding: 10px;
}

#search-bar {
    border-radius: 10px;
    padding: 5px;
}

#get-results {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 12px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

#get-results:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}

#get-results:active {
	position:relative;
	top:1px;
}

.top-artist-button {
    background:none;
    border:none;
    margin:0;
    padding: 7px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.top-artist-button:hover {
    color: #2dabf9;
}

.top-track-button {
    background:none;
    border:none;
    margin:0;
    padding: 7px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.top-track-button:hover {
    color: #2dabf9;
}

.trending-track-divs {
    text-align: center;
    padding: 30px;
    max-width: 345px;
    flex: 15%;
}

.main-container-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    text-align: center;
}

.main-content-two {
    height: auto;
}

.artist-bio {
    height: auto;
}

.left-container {
    max-width: 20%;
    width: 400px;
    height: auto;
    color: black;
    justify-content: center;
    text-align: center;
}

.right-container {
    max-width: 30%;
    width: 400px;
    height: auto;
    text-align: center;
}

.top-five-tracks > img {
    max-width: 50%;
    display: block;
    margin: auto;
}

.center-container {
    max-width: 50%;
    width: 800px;
    height: auto;
    padding: 40px;
    margin: 30px;
}

.artist-bio {
    text-align: center;
    margin: auto;
}

.artist-info > * > p {
    color: #3282b8;
}

.copyright {
    color: white;
    margin: 0;
    padding: 10px;
}

footer {
    background-color: black;
    text-align: center;
}

.footer-link > img {
    max-width: 50px;
    margin: 22px;
    transition: transform .2s
}

.footer-link > img:hover {
    transform: scale(1.5)
}

.artist-image > * > img {
    transition: transform .2s;
}

.artist-image > * > img:hover {
    transform: scale(1.5);
}

img {
    max-width: 200px;
    border-radius: 25%;
}

.top-five-tracks > img {
    border-radius: 0;
}

a {
    text-decoration: none;
    color: #bbe1fa;
}

a:hover {
    color: #2dabf9;
}

#search-bar {
    margin: 0px 15px;
}

@media only screen and (max-width: 600px) {
    .center-container {
        display: none;
    }

    .main-container-two {
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .artist-webpage {
        display: none;
    }

    .artist-webpage-link {
        display: none;
    }

    .artist-twitter {
        display: none;
    }
    .artist-twitter-link {
        display: none;
    }
}
