body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #aeb1b5;
}

.header-container {
    background-color: black;
    background-size: contain;
    width: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-title {
    color: white;
}

.trending-title {
    text-align: center;
}

.main-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.main-container-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    text-align: center;
}

.main-content {
    height: auto;
}

.artist-bio {
    height: auto;
}

.left-container {
    max-width: 20%;
    width: 400px;
    height: 1000px;
    color: black;
    justify-content: center;
    text-align: center;
}

.right-container {
    max-width: 30%;
    width: 400px;
    height: auto;
    text-align: center;
}

.top-five-tracks > img {
    max-width: 50%;
    display: block;
    margin: auto;
}

.center-container {
    max-width: 50%;
    width: 800px;
    height: auto;
    padding: 40px;
    background-color: white;
}

.artist-bio {
    text-align: center;
    margin: auto;
}

.copyright {
    color: white;
}

footer {
    background-color: black;
    text-align: center;
    padding: 30px;
}

.artist-image > img {
    /* background-size: contain; */
    /* max-width: 950px; */
    max-width: 85%;
    display: block;
    margin: auto;
}